name: Playwright Tests
on:
  push:
    branches: [  ]

  schedule:
    - cron: 00 10 * * *    # minute hour day month weekday

  
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        shardIndex: [1, 2, 3, 4, 5, 6, 7, 8, 9]
        shardTotal: [9]
    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-node@v5
      with:
        node-version: lts/*
    - name: Install dependencies
      run: npm ci
    - name: Install Playwright Browsers
      run: npx playwright install --with-deps
    - name: Run Playwright tests
      run: npx playwright test tests\
    - uses: actions/upload-artifact@v4
      if: ${{ !cancelled() }}
      with:
        name: Test-Reports
        path: Reports\
        retention-days: 30
